.banner{
      background-image: url("../../images/cover.jfif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vmin;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.banner > p {
  font: 400 1.8vmax "Lucida Sans";
}

.banner > h1 {
  margin: 5vmax;
font: 600 2.5vmax "Roboto";
}
.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover{
      color: white;
      background-color: tomato;
      width: 10vmax;
      padding: 1.2vmax;
}
.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}
.homeHeading{
      text-align: center;
      font-family: Roboto;
      font-size: 1.4vmax;
      border-bottom: 1px solid rgba(21,21,21,0.8);
      width: 20vmax;
      padding: 1vmax;
      margin: 5vmax auto;
}
.container{
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}