.updateUserContainer {
      width: 100vw;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 5fr;
}


.form {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding: 3vmax;
      justify-content: space-evenly;
      height: 60%;
      width: 50vh;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.form h1 {
      color: rgba(0, 0, 0, 0.733);
      font: 300 2rem "Roboto";
      text-align: center;
}

.form>div>input,
.form>div>select {
      padding: 1vmax 4vmax;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.267);
      border-radius: 4px;
      font: 300 0.9vmax cursive;
      outline: none;
}

.form>div>svg {
      position: absolute;
      margin-top: 12px;
      transform: translateX(1vmax);
      font-size: 1.6vmax;
      color: rgba(0, 0, 0, 0.623);
}

#updateProductBtn {
      border: none;
      background-color: tomato;
      color: white;
      font: 300 0.9vmax "Roboto";
      width: 100%;
      padding: 0.8vmax;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

@media screen and (max-width: 600px) {
      .form {
            width: 35vh;
            height: 50vh;
            padding: 1vmax;
      }

      .form>div>input,
      .form>div>select {
            font: 500 1.5vmax "Roboto";
            width: 100%;
            padding: 1vmax 4vmax;

      }

      .form>div>svg {
            margin-top: 10px;
            transform: translateX(1vmax);
      }

      #updateProductBtn {
            font: 500 1.5vmax "Roboto";
            width: 100%;
            padding: 1.5vmax;

      }
}