.MyOrdersPage {

      width: 100vw;
      max-width: 100%;
      padding: 5vmax 7vmax;
      box-sizing: border-box;
      background-color: rgba(235, 235, 235);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
}


#MyOrdersHeading {
      text-align: center;
      font: 400 1.2vmax "Roboto";
      color: rgb(93, 93, 93);
      padding: 1vmax 0;
      margin: auto;
      transition: all 0.5s;
      text-transform: capitalize;
}

.MyOrdersTable {
      background-color: white;
}

.MyOrdersTable>div {
      font: 300 1vmax "Roboto";
      color: rgba(0, 0, 0, 0.678);
      border: none;
}

.MyOrdersTable a {
      color: rgba(0, 0, 0, 0.527);
      transition: all 0.5s;
}

.MyOrdersTable a:hover {
      color: tomato;

}

.MuiDataGrid-columnHeader {
      background-color: tomato;
      padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
      color: rgba(255, 255, 255);
      font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
      display: none !important;
}

@media screen and (max-width: 600px) {
      .MyOrdersPage {
            padding: 0;
            height: 93vh;
      }

      #MyOrdersHeading {
            font: 400 2.2vmax "Roboto";
            padding: 4vw;
      }

      .MyOrdersTable div {
            font: 300 4vw "Roboto";
      }

      .MuiDataGrid-columnHeader {
            padding: 20px !important;
      }

      .MuiDataGrid-columnHeader div {
            font: 500 5vw "Roboto" !important;
      }
}