.updateOptions {
      width: 100vw;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 5fr;
}

.updateProductContainer {
      width: 100%;
      box-sizing: border-box;
      border-left: 1px solid rgba(0, 0, 0, 0.158);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.updateProductContainer>a {
      margin-top: 50px;
      background-color: tomato;
      padding: 30px 60px;
      text-decoration: none;

}


.updateProductContainer>a>.btn {
      color: white;
      font: 300 1vmax "Roboto";
      background-color: tomato;
      border: none;
      outline: none;
}

.updateProductContainer>a>.btn:hover,
.updateProductContainer>a:hover {
      background-color: rgb(245, 48, 14);
}

@media screen and (max-width: 600px) {
      .updateProductContainer>a>.btn {
            font: 300 3vmax "Roboto";
      }
}