.ProductDetails{
      width: 100vw;
      max-width: 100%;
      padding: 6vmax;
      box-sizing: border-box;
      display:flex;
}

.ProductDetails>div{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 2vmax;
      box-sizing: border-box;
}
.ProductDetails>div:last-child{
      align-items: flex-start;
}
.CarouselImage{
      width: 80%;
      height: 60%;
}
.detailBlock-1>h2{
      color: rgba(54,54,54);
      font: 600 1.6vmax "Roboto";
      text-transform: capitalize;
}
.detailBlock-1>p{
      color: rgba(54,54,54,0.582);
      font: 200 0.6vmax cursive;
}
.detailBlock-2{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid rgba(0,0,0,0.205);
      border-bottom: 1px solid rgba(0,0,0,0.205);
}
.detailBlock-2>span{
      color: rgba(54,54,54,0.502);
      font:200 1.2vmax cursive;
}
.detailBlock-3{
      width: 70%;
}
.detailBlock-3>h1{
      color: rgba(17,17,17,0.795);
      font: 500 1.8vmax "Franklin Gothic Medium";
      margin: 1vmax 0;
}
.detailBlock-3-1{
      display: flex;
      align-items: center;
}
.detailBlock-3-1-1>button{
      border: none;
      background-color: rgb(0, 0, 0,0.616);
      padding: 0.5vmax;
      cursor: pointer;
      color: white;
      transition: all 0.5s;
}
.detailBlock-3-1-1>button:hover{
       background-color: rgb(0, 0, 0,0.767);
}
.detailBlock-3-1-1>input{
      border: none;
      padding: 0.5vmax;
      width: 1vmax;
      text-align: center;
      outline: none;
}
.detailBlock-3-1>button:last-child{
      border: none;
      cursor: pointer;
      background-color: tomato;
      color:white;
      transition: all 0.5s;
      font:500 0.7vmax "Roboto";
      border-radius: 20px;
      padding: 0.5vmax 2vmax;
      margin: 1vmax;

}
.detailBlock-3-1>button:last-child:hover{
      background-color: rgb(248, 56, 23);
}
.detailBlock-3>p{
      border-top: 1px solid rgba(0,0,0,0.205);
      border-bottom: 1px solid rgba(0,0,0,0.205);
      padding: 1vmax 0;
      color: rgba(0,0,0,0.651);
      font: 400 1vmax "Roboto";
      margin: 1vmax 0;
}
.detailBlock-4{
      color: rgba(0,0,0,0.897);
      font: 500 1.2vmax sans-serif;
}
.detailBlock-4>p{
      color: rgba(0,0,0,0.534);
      font:300 0.8vmax sans-serif;
}
.submitReview{
      border: none;
      cursor: pointer;
      background-color: tomato;
      color:white;
      transition: all 0.5s;
      font:500 0.7vmax "Roboto";
      border-radius: 20px;
      padding: 0.6vmax 2vmax;
      margin: 1vmax 0;
      outline: none;
}
.submitReview:hover{
        background-color: rgb(248, 56, 23);
        transform: scale(1.1);
}
.submitDialog {
  display: flex;
  flex-direction: column;
}
.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}
.ReviewsHeading{
      color: #613d3dbe;
       font: 500 1.4vmax "Roboto";
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}
.reviews{
      display: flex;
      overflow: auto; 
}
@media screen and (max-width:600px) {
      .ProductDetails{
            display: flex;
            flex-direction: column;
      }
  
      .ProductDetails>div:last-child{
      align-items: center;
      }
      .detailBlock-1 > h2 {
    font-size: 3.8vmax;
    text-align: center;
  }
    .detailBlock-1 > p {
    text-align: center;
    font-size: 1.5vmax;
  }
    .detailBlock-2 {
    justify-content: center;
    align-items: center;
  }
    .detailBlock-2 > span {
    font-size: 2vmax;
  }
    .detailBlock-3 > h1 {
    font: 700 3.5vmax "Franklin Gothic Medium";
    text-align: center;
  }
    .detailBlock-3-1 {
    flex-direction: column;
  }
    .detailBlock-3-1-1 {
    padding: 2vmax 0;
  }
    .detailBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }
    .detailBlock-3-1-1 > input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax "Roboto";
  }
    .detailBlock-3-1 > button:last-child {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }
    .detailBlock-3 > p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2.5vmax "Roboto";
  }
    .detailBlock-4 {
    font: 500 2.5vmax sans-serif;
  }

  .detailBlock-4 > p {
    font: 300 1.8vmax sans-serif;
  }
    .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

}